.home-list {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vw;
}

.colored {
  background-color: red;
  margin-bottom: 1.2rem;
}

.colored>img {
  width: 100%;
  object-fit: contain;

}


.list-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.header-pagination {
  width: 100%;

}

.colored:hover {
  cursor: pointer
}

.hero-data {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-image,
.header-title,
.header-subtitle,
.header-search,
.header-div-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-subtitle {
  text-align: center;
  color: grey;
}

.header-title {
  font-size: 2em;
  color: #444;
  text-align: center;
  font-weight: bold;
}

.header-div-input {
  max-width: 800px;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 0.75rem 2rem;
  position: relative;
  border-radius: 50px;
  justify-content: flex-start;
  background-color: #fdecec;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

.search-icon {
  width: 1.5rem;
  position: relative;
  z-index: 1;
  margin-right: 2em;
}

/**/
.search-icon:hover {
  cursor: pointer;
}

.search-input {
  font-size: 1.2rem;
  -webkit-appearance: none;
  position: relative;
  color: red;
  background-color: #00000000;
  border: 0px;

}

::placeholder {
  color: red;
  opacity: 0.5;
}

.header-filter {
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-count-list {
  color: grey;
  flex: 1;
}


.header-filter-options {
  display: flex;
  align-items: center;
  justify-content: start;
  color: red;
}


.header-toggle-filter {
  margin-left: 1em;
  margin-right: 1em;
  width: 50px;

}

.header-filter-fav-option,
.header-filter-order-option {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.header-filter-order-option svg,
.header-filter-fav-option svg {
  margin-right: 1rem;
}

.search-bar {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.pagination-btn {
  margin-right: 1rem;
  margin-left: 1rem;
  background: none;
  color: grey;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 20px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-pagination {
  display: flex;
  align-items: center;
}


.select-page-size select{
  margin-left: 1rem;
  margin-right: 1rem;

}

.showLoader{
  display: flex;
  width: 100%;
  justify-content: center;
}
.wrap-loader{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 962px) {
  .list-div {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-count-list {
    flex-basis: 100%;
  }

  .header-filter {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .header-filter-options {
    width: 100%;
  }

}