@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&display=swap');
body {

  margin: 0;
  min-height: 100vh;
  border-bottom: 50px solid red;
  padding-bottom: 8rem;
  font-family: 'Anek Latin', sans-serif;

}
